.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #2196f3;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.vbox{
    
}
.blue-panel{
    -fx-background-color: #ffffff;
}

.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}